.containerCreateAccount {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.containerCreateAccount text,
.containerCreateAccount a,
.containerCreateAccount a:link,
.containerCreateAccount a:visited {
    font-weight: 100;
    font-size: 12px;
    padding: 2px;
    color: grey;
}

.containerCreateAccount a:hover {
    text-decoration: underline;
}


.container { /* INSIDE CONTAINER */
    background-color: white;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 520px;
    margin: auto;
    padding: 40px;
}

.containerImage { /* CONTAINER FOR IMAGE */
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.containerInput {
    width: 100%;
    margin: 15px 0 0 0;
}

.containerButton {
    padding: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerInputText {
    display: flex; /* Use flexbox to create a flexible container */
    justify-content: space-between; /* Distribute the children evenly along the main axis (horizontally) */
    align-items: center; /* Center the children vertically */
    width: 100%; /* Set the parent's width to 100% */
    margin-bottom: 4px;
}

.containerInputText a {
    color: grey;
    font-size: 12px;
    text-align: center;
}

.textInputLeft {
    font-size: 12px;
    text-align: center;
}

.textfield {
    width: 100%;
}

.logo {
    margin: auto;
}

.message {
    padding-top: 20px;
    font-weight: 100;
    font-size: 12px;
    color: grey;
}

.title {
    padding-top: 10px;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 10px;
}

.buttonSubmit {
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 30px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 80%;
    font-weight: 600;
    height: 40px;
    width: 120px;
    padding: 10px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    white-space: nowrap;
}
